/* Add CSS Styling */
.odd {
    background-color: rgb(255, 182, 193);
    font-family: Verdana, "DejaVU", sans-serif;
}
#two {
    color: rgb(0, 0, 255);
    font-size: 36px;
}
.big {
    font-size: 24px;
}
#four {
    background-color: rgb(144, 238, 144);
    font-size: 24px;
    font-weight: bold;
}