body {
  max-width: 600px;
  margin: 0 auto;
}

.one {
  background: pink;
  border: 3px solid blue;
  /* CHANGE ME */
  padding: 24px;
  margin: 8px;
}

.two {
  background: lightblue;
  border: 3px solid purple;
  /* CHANGE ME */
  
  margin-bottom: 24px;
}

.three {
  background: peachpuff;
  border: 3px solid brown;
  width: 200px;
  /* CHANGE ME */
  padding: 32px;
  margin-left: 340px;
}